html{
    font-size: 18px;
}

body{
    font-family: Helvetica;
}

header{
    background-image: url(../glasses-bg.png);
    height: 31rem;
    background-size: cover;
}

.navigation{
    display: flex;
    width: 960px;
    height: 3rem;
    background-color: cadetblue;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    
}

#logo img {
    height: 1.5rem;
    padding: 0rem 1rem 0rem 2rem;
}

span {
    font-family: Helvetica;
    font-size: 1rem;
    color: white;
}

.navigation{
    
}

#logo{
    display: flex;
    align-items: center;
}

a{
    font-family: Helvetica;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    padding-right: 2rem;
}

#white-box{
    
}

h3{
    background-color: white;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.2;
    width: 43%;
    padding: 1.5rem 5rem 1.5rem 5rem;
    margin-top: 10rem;
    float: right;
    
}